
.ng-enter {
  -webkit-animation:slideInRight 0.4s both ease-in;
  -moz-animation:slideInRight 0.4s both ease-in;
  animation: slideInRight 0.4s both ease-in; z-index: 8888;
}
.ng-leave {
  -webkit-animation:slideOutLeft 0.4s both ease-in;
  -moz-animation:slideOutLeft 0.4s both ease-in;
  animation: slideOutLeft 0.4s both ease-in; z-index: 9999;
}

.card-icon-link{

}

.note-area label.active{

}

.note-area .card-content label.active{
	line-height: 10px;
}

.note-area input, .note-area textarea{
	padding-bottom: 0px;
}

.note-area .card-content{
	margin-bottom: 0px;
}

.note-area .card-action .input-field{
	margin-bottom: 0px;
	margin-top: 0px;
}

.note-area .card-action p.action-title{
	margin-top: 0px;
}

h3.card-title{
	margin-top: 0px;
	margin-bottom: 0px;
}

a.meeting-card-icon-link{
	margin-right: 0px;
}

a.removeCard{
	position: absolute;
	right: 10px;
}

a.removeCard:hover, a.removeCard:active {
	color: #b71c1c !important;
}

.dropdown-content.active{
  z-index: 2000;
}

/*Sufix*/
  .input-field .sufix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s; }
    .input-field .sufix.active {
      color: #26a69a; }
  .input-field input.hassufix, .input-field textarea.hassufix {
    margin-right: 1rem;
    width: 92%;
    width: calc(99% - 6rem) !important; }
  .input-field textarea.hassufix {
    padding-top: 0.8rem; }
  .input-field label ~ .sufix {
    margin-right: 3rem; }
  @media only screen and (max-width : 992px) {
    .input-field input.hassufix {
      width: 86%;
      width: calc(95% - 6rem) !important; }
 }
  @media only screen and (max-width : 600px) {
    .input-field input.hassufix {
      width: 80%;
      width: calc(85% - 6rem) !important; }
 }

/* Additional styles for textAngular*/
 div.ta-toolbar .btn{
   padding-left: 10px;
   padding-right: 10px;
 }

 div.ta-bind ul li{
   list-style-type: disc;
   margin-left: 40px;
 }

 div.ta-bind{
   border-bottom: 1px solid #9e9e9e;

 }

/* ANIMATIONS
============================================================================= */
@keyframes slideOutLeft {
    to      { transform: translateX(-80%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-80%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-80%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(20%); }
    to      { transform: translateX(0); }

}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(20%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(20%); }
  to    { -webkit-transform: translateX(0); }
}
