      <div class="row">
        <div class="col s12 m9">
          <h3 class="header left orange-text">Meeting Title</h3>
        </div>
        <div class="col s12 m3">
                  <div class="input-field col s12">
                    <input id="startDate" type="date" class="datepicker" ng-model="note.meetingDate" jsondate>
                    <label for="startDate" class="active">Date of Meeting</label>
                  </div>
          </div>
      </div>
      <div class="row">
        <div class="col s12 m9 l9">
            <div class="row">
              <div class="col s12">
                <ul class="tabs" materialtabs>
                  <li class="tab col s3"><a href="#test1" class="active"><i class="mdi-content-add-circle-outline"></i> Notes</a></li>
                  <li class="tab col s3"><a href="#test2"><i class="mdi-editor-format-list-bulleted"></i> Outline</a></li>
                  <li class="tab col s3"><a href="#test3"><i class="mdi-image-movie-creation"></i> Action Items</a></li>
                </ul>
              </div>
              <div id="test1" class="col s12 note-area">
                <div class="card" ng-repeat="anote in note.noteCards">
                    <div class="card-content">
                      <div class="row">
                        <button class="right" ng-click="removeNoteCard(anote)"><i class="mdi-content-remove-circle-outline"></i></button>
                        <span class="card-title">
                                  <div class="input-field col s12">
                                    <input type="text" class="validate black-text" value="{{anote.topicTitle}}">
                                    <label class="active">Topic Title</label>
                                  </div>
                        </span>
                      </div>
                    <div class="row card-body">
                          <div class="input-field col s12">
                            <textarea class="materialize-textarea">{{anote.topicDetails}}</textarea>
                            <label class="active">Details</label>
                          </div>
                    </div>
                    </div>
                    <div class="card-action">
                      <p class="action-title">Action Items</p>
                      <div ng-repeat="actionItem in anote.actionItems">
                            <div class="input-field col s12">
                              <i class="mdi-toggle-check-box-outline-blank prefix orange-text" ng-hide="actionItem.complete"></i>
                              <input type="text" class="validate" value="{{actionItem.details}}">
                            </div>
                      </div>
                    <!-- Input field used to add new action item to note card -->
                     <div class="input-field col s12">
                      <i class="mdi-content-add prefix"></i>
                      <input type="text" class="validate" placeholder="Add Action Item">
                      
                    </div>
                    </div>
                  </div>
                  <!-- End of one card -->
                  <div class="row center-align">
                    <a class="waves-effect waves-light btn" ng-click="addNoteCard()">Add Topic <i class="mdi-content-add right"></i></a>
                  </div>
              </div>
              <div id="test2" class="col s12">
                <!-- This is the tab container for the topic view -->
                      <ul class="collection with-header">
                        <li class="collection-item"  ng-repeat="topic in topics.note">
                          <div>
                            {{topic.topicTitle}}<a href="#!" class="secondary-content"><i class="mdi-action-swap-vert"></i></a>
                          </div>
                        </li>
                      </ul>
                
              </div>
              <div id="test3" class="col s12">Test 3
              <!-- Here is the action Item view -->
                <ul class="collection">
                  <li class="collection-item avatar" ng-repeat="topic in topics.note">
                    <i class="mdi-action-today circle grey darken-1"></i>
                    <span class="title">{{topic.topicTitle}}</span>
                    <ul ng-show="topic.actionItems">
                      <li ng-repeat="action in topic.actionItems">{{action.details}}</li>
                    </ul>
                    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                  </li>
                </ul>
              </div>

              
              
              
            </div>

          </div> 
          <div class="col s12 m3 l3">
                  <div class="save-btns" style="position: fixed; bottom: 0px; right: 10px;">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-save"></i></a>
                  </div>
                  <div class="row hide-on-small-only" style="height: 35px"></div>
                  <div class="row">
                    <ul class="collection with-header">
                            <li class="collection-header"><h5><i class="mdi-action-perm-contact-cal"></i> Attendees</h5></li>
                      <li class="collection-item" ng-repeat="person in attendees.attendees">{{person.name}}</li>      
   

                    </ul>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-content-add prefix"></i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Add Attendee</label>
                      
                    </div>
                  </div>

          </div>

      </div>


