      <div class="row">
        <div class="col s12 m9">
          <h3 class="header left orange-text">
            <a ng-href="#/meeting/{{note.meetingID}}" style="margin-left: -50px;"><i class="mdi-navigation-arrow-back orange circle white-text waves-effect waves-gray"></i></a> {{note.meeting}}
            <a class="tooltipped right orange-text" ng-href="#/editMeeting/{{note.meetingID}}" data-trigger="hover click manual" data-container="body" data-placement="bottom" title="Edit Meeting"><i class="mdi-navigation-more-vert"></i></a>
          </h3>
        </div>
        <div class="col s12 m3" style="margin-top: 10px;">
                  <div class="input-field col s12">
                    <h5>{{note.meetingDate | date: MM/dd/yyyy}}</h5>
                    <!--<input id="startDate" type="date" class="datepicker" ng-model="note.meetingDate" jsondate>-->
                    <label for="startDate" class="active">Date of Meeting</label>
                  </div>
          </div>
      </div>
      <div class="row">
        <div class="col s12 m9 l9">
            <div class="row">
              <div class="col s12">
                <ul class="tabs" materialtabs>
                  <li class="tab col s3"><a href="#test1" class="active"><i class="mdi-content-add-circle-outline"></i> Notes</a></li>
                  <li class="tab col s3"><a href="#test2"><i class="mdi-editor-format-list-bulleted"></i> Outline</a></li>
                  <li class="tab col s3"><a href="#test3"><i class="mdi-image-movie-creation"></i> Action Items</a></li>
                </ul>
              </div>
              <div id="test1" class="col s12 note-area">
                <div ng-hide="note.noteCards.length">
                  <div class="row">
                    <div class="col s12 m12 center-align">
                      <div class="card-panel orange darken-4 lighten-5 white-text">
                        <h1><i class="fa fa-list-alt"></i></h1>
                        <span> <h5>Yay! Use the Add Note Card button below to get started :)</h5></span><br/>
                        <a class="waves-effect waves-light btn-large orange lighten-5 orange-text text-darken-4 z-depth-2" ng-click="addNoteCard()" href="#!" no-link>Add Note Card <i class="mdi-content-add right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Note Cards will render here -->
                <note-card ng-repeat="anote in note.noteCards track by $index"></note-card>
                  <div class="row center-align" ng-show="note.noteCards.length">
                    <a class="waves-effect waves-light btn orange darken-4" ng-click="addNoteCard()">Add Note Card <i class="mdi-content-add right"></i></a>
                  </div>
              </div>
              <div id="test2" class="col s12">
                <!-- This is the tab container for the topic view -->
                <!-- This will show up when there are no notes -->
                <div ng-hide="note.noteCards">
                  <div class="row">
                    <div class="col s12 m12 center-align">
                      <div class="card-panel blue-grey lighten-5">
                        <span> You'll see topics here once you start writing notes. Go to the Notes tab to get started :)
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Mark up for items when there are some -->
                      <ul class="collection with-header">
                        <li class="collection-item"  ng-repeat="anote in note.noteCards">
                          <div>
                            {{anote.topicTitle}}<a href="#!" class="secondary-content"><i class="mdi-action-swap-vert"></i></a>
                          </div>
                        </li>
                      </ul>

              </div>
              <div id="test3" class="col s12">Test 3
              <!-- Here is the action Item view -->
              <!-- This will show when there are no notes yet -->
                <div ng-hide="note.noteCards">
                  <div class="row">
                    <div class="col s12 m12 center-align">
                      <div class="card-panel blue-grey lighten-5">
                        <span> You'll see a summary of action items here once you've created some on the Notes tab. Go to the Notes tab to get started :)
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Mark up that will show when there are notes -->
                <ul class="collection">
                  <li class="collection-item avatar" ng-repeat="anote in note.noteCards">
                    <i class="mdi-action-today circle grey darken-1"></i>
                    <span class="title">{{anote.topicTitle}}</span>
                    <ul ng-show="anote.actionItems.length">
                      <li ng-repeat="item in anote.actionItems">
                        <i ng-class="item.complete ?
                        'mdi-toggle-check-box prefix green-text' :
                        'mdi-toggle-check-box-outline-blank prefix orange-text'"></i>
                        {{item.details}}</li>
                    </ul>
                    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                  </li>
                </ul>
              </div>




            </div>
            <pre>{{note | json}}
            </pre>
          </div>



          <div class="col s12 m3 l3">
                  <div class="row hide-on-small-only" style="height: 35px"></div>
                  <div class="row">
                    <ul class="collection with-header">
                      <li class="collection-header"><h5><i class="mdi-action-perm-contact-cal"></i> Attendees</h5></li>
                      <li class="collection-item" ng-hide="note.attendees.length"><div>No attendees yet :(</div></li>
                      <li class="collection-item" ng-repeat="person in note.attendees" meeting-attendee><div>{{person.name}}<a no-link href="#!" class="removeAttendee secondary-content hide" ng-click="removeAttendee(person)"><i class="mdi-navigation-cancel grey-text"></i></a></div></li>


                    </ul>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-content-add prefix"></i>
                      <input id="icon_prefix" type="text" class="validate" participant-input="attendees" ng-model="newParticipant">
                      <label for="icon_prefix">Add Attendee</label>

                    </div>
                  </div>
                  <div class="row">
                    <ul class="collection with-header" ng-show="newParticipant.length > 2">
                    <li class="collection-header"><h5>Past Participants</h5></li>
                    <li class="collection-item" ng-repeat="participant in meeting.participants | filter: newParticipant">
                      <div>{{participant.name}}
                        <a href="#!" no-link participant-input ng-click="addPastParticipant(participant)" class="secondary-content"><i class="mdi-content-add-circle-outline"></i></a>
                      </div>
                    </li>
                    </ul>
                  </div>

          </div>

      </div>
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
       <!--<a class="btn-floating btn-large red" fab-tooltips>
         <i class="large mdi-navigation-more-vert"></i>
       </a>-->
       <a class="btn-floating btn-large red tooltipped" ng-click="UpdateNote(note)" ng-href="#!" no-link hastooltip data-trigger="hover click manual" data-container="body" data-placement="left" title="Update">
         <i class="large mdi-content-save"></i>
       </a>
       <ul>
         <!--<li class="tooltipped" data-trigger="hover click manual" data-container="body" data-placement="left" title="Share Meeting"><a class="btn-floating yellow darken-1 tooltipped" ><i class="large mdi-social-share"></i></a></li>
         <li class="tooltipped" data-trigger="hover click manual" data-container="body" data-placement="left" title="New Note"><a class="btn-floating green"><i class="large mdi-editor-mode-edit"></i></a></li>-->
       </ul>
      </div>


 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-show="page.updating">
  <div preloader></div>
</div>
