<div ng-show="page.loading" class="center-align">
  <div preloader></div>
</div>
<div ng-show="page.error">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">Uh Oh! Something went wrong!</span>
              <p>{{page.errorMessage}}</p>
            </div>
            <div class="card-action">
              <a href='#' ng-click="Cancel()">Go Back</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div ng-hide="page.error || page.loading">
    <h1 class="header center orange-text">Existing Meetings</h1>
    <div meeting-index-nav>
      <ul meeting-card-sorts id="sortDropdown" class="dropdown-content">
          <li data-sort-type="{{sortOption.title}}" ng-repeat="sortOption in sortTypes" ng-class="{'active': sortOption == activeSort}" ng-click="makeActive(sortOption)">
            <a href="#!" no-link title="{{sortOption.tooltip}}">
              <i class="{{sortOption.icon}}"></i>
            </a>
          </li>
      </ul>
        <nav class="blue-grey lighten-5 blue-grey-text text-lighten-3" ng-hide="searchActive">
          <div class="nav-wrapper">
            <ul class="left">
              <li><a class="dropdown-button blue-grey-text text-light-3"  href="#!" no-link dropdown-button data-activates="sortDropdown">Sort by<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
            </ul>
            <ul class="right">
              <li ng-class="{'active': page.activeView == 'thumbnails'}" ng-click="setActiveView('thumbnails')"><a href="#!" no-link class="blue-grey-text text-light-3"><i class="mdi-action-view-module"></i></a></li>
              <li ng-class="{'active': page.activeView == 'list'}" ng-click="setActiveView('list')"><a href="#!" no-link class="blue-grey-text text-light-3"><i class="mdi-action-view-list"></i></a></li>
              <li>|</li>
              <li><a href="#!" no-link class="blue-grey-text text-light-3" ng-click="showSearch()"><i class="mdi-action-search"></i></a></li>
            </ul>
          </div>
        </nav>
      <nav ng-show="searchActive" class="blue-grey lighten-3 white-text">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="meetingFilter" type="search" ng-model="page.searchText" required>
              <label for="search"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close" ng-click="Cancel()"></i>
            </div>
          </form>
        </div>
      </nav>
    </div>

    </div>
      <!-- Thumbnail View -->
      <div class="row" >
        <!-- If there are no items we want to encourage the users to create meetings -->
        <div class="col s12 m12 center-align" ng-hide="meetings || meetings.length || !page.error">
          <div class="card-panel orange darken-4 white-text">
            <h1 style=" font-size: 9.2em;"><i class="mdi-action-speaker-notes"></i></h2>
            <span> <h5>Get started by creating a new meeting and start taking notes!</h5><br/>
            </span>
            <a class="waves-effect waves-light btn-large orange lighten-5 orange-text text-darken-4 z-depth-2" href="#/newMeeting">Create Meeting <i class="mdi-content-add left"></i></a>
          </div>
        </div>
      </div>
      <div class="row" ng-show="page.activeView == 'thumbnails'">
        <div class="col s12 m4" ng-repeat="meeting in meetings | filter: page.searchText | orderBy : activeSort.sortExp">

                <meeting-card></meeting-card>
        </div>
      </div>
      <!-- List Collection View -->
      <div class="row" ng-show="page.activeView == 'list'">
                <meeting-list-collection></meeting-list-collection>
      </div>
    <div class="section">


    </div>

 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" fab menuactive="false">
    <a class="btn-floating btn-large red tooltipped" >
      <i class="large mdi-navigation-more-vert"></i>
    </a>
    <ul>
      <li data-trigger="click manual" data-container="body" data-placement="left" title="Share" class="tooltipped"><a class="btn-floating yellow darken-1" ><i class="large mdi-social-share"></i></a></li>
      <li data-trigger="click manual" data-container="body" data-placement="left" title="New Note" class="tooltipped"><a class="btn-floating green" href="#/newNote"><i class="large mdi-editor-mode-edit"></i></a></li>
      <li data-trigger="click manual" data-container="body" data-placement="left" title="New Meeting" class="tooltipped"><a class="btn-floating blue" href="#/newMeeting" ><i class="large mdi-content-add"></i></a></li>
    </ul>
  </div>
</div>
