                <div class="row">
                    <div class="col s12 m12">
                      <label>Card Background</label>
                        <select id="cardBackground" class="browser-default" ng-model="meeting.cardColor">
                          <option value="" disabled selected>Choose your color</option>
                          <option value="light-blue darken-1">Light Blue</option>
                          <option value="cyan darken-1">Cyan</option>
                          <option value="teal darken-1">Teal</option>
                          <option value="red darken-4">Red</option>
                          <option value="pink darken-1">Pink</option>
                          <option value="purple darken-3">Purple</option>
                          <option value="green darken-3">Green</option>
                          <option value="lime">Lime</option>
                          <option value="yellow">Yellow</option>
                          <option value="orange darken-4">Orange</option>
                          <option value="grey darken-4">Grey</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                      <label>Card Icon</label>
                        <select id="cardIcon" class="browser-default" ng-model="meeting.cardIcon">
                          <option value="" disabled selected>Choose your icon</option>
                          <option value="mdi-social-people">People</option>
                          <option value="mdi-action-lock">Lock</option>
                          <option value="mdi-file-cloud">Cloud</option>
                          <option value="mdi-action-assignment-late">Issues Clipboard</option>
                          <option value="mdi-action-autorenew">Sync</option>
                          <option value="mdi-action-description">Document</option>
                          <option value="mdi-action-grade">Star</option>
                          <option value="mdi-action-language">Globe</option>
                          <option value="mdi-action-schedule">Clock</option>
                          <option value="mdi-action-today">Calendar</option>
                          <option value="mdi-communication-call">Phone</option>
                          <option value="mdi-hardware-desktop-mac">Computer</option>
                          <option value="mdi-hardware-security">Shield</option>
                          <option value="mdi-social-notifications">Bell</option>
                          <option value="mdi-social-share">Share</option>
                        </select>
                    </div>
                    <div class="col s12 m6">
                      <label>Card Icon Color</label>
                        <select id="cardBackground" class="browser-default" ng-model="meeting.cardIconColor">
                          <option value="white-text" selected>White</option>
                          <option value="black-text">Black</option>
                        </select>
                    </div>
                </div>