<div class="card">
  <a class="card-image meeting-card-icon-link waves-effect waves-block waves-light center-align ng-class: meeting.cardColor;" ng-href="#/meeting/{{meeting.$id}}">
    <i class="large ng-class: [meeting.cardIcon, meeting.cardIconColor];"></i>
  </a>
  <div class="card-content">
    <span style="max-width: 220px;"><h3 class="card-title activator grey-text text-darken-4 truncate">{{meeting.Title}}<i class="mdi-navigation-more-vert activator right"></i></h3></span>
    
    <p>{{meeting.occursEvery}} @ {{meeting.hour}}:{{meeting.minute}} {{meeting.meridian}}</p>
    <p><a ng-href="#/meeting/{{meeting.$id}}">Open Notes <i class="mdi-navigation-arrow-forward"></i></a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{meeting.Title}} <i class="mdi-navigation-close right"></i></span>
    <p>{{meeting.description}}</p>
  </div>
</div>