<div class="card">
  <a class="card-image meeting-card-icon-link waves-effect waves-block waves-light center-align ng-class: meeting.cardColor;" ng-href="#/meeting/{{meeting.$id}}">
    <i class="large ng-class: [meeting.cardIcon, meeting.cardIconColor];"></i>
  </a>
  <div class="card-content">
    <span style="max-width: 220px;"><h3 class="card-title activator grey-text text-darken-4 truncate">{{meeting.Title}}</h3></span>
    <i class="mdi-navigation-more-vert activator right"></i>
    <p ng-show="meeting.recurring">Every {{meeting.occursEvery}} @ {{meeting.hour}}:{{meeting.minute}} {{meeting.meridian}}</p>
    <p ng-hide="meeting.recurring">{{meeting.startDate}} @ {{meeting.hour}}:{{meeting.minute}} {{meeting.meridian}}</p>
    <p><a ng-href="#/meeting/{{meeting.$id}}">Open Notes <i class="mdi-navigation-arrow-forward"></i></a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{meeting.Title}} <i class="mdi-navigation-close right"></i></span>
    <p>{{meeting.description}}</p>
    <a class="waves-effect waves-light btn-flat waves-grey z-depth-2 left-align" ng-href="#/editMeeting/{{meeting.$id}}"><i class="large mdi-editor-mode-edit"></i> Edit Meeting</a>
  </div>
</div>
