  <div id="newNote" class="modal">
    <div class="modal-content">
      <h4>New Note</h4>
    </div>
  <div class="container">
    <div class="row">
      <label>Select a Meeting</label>
      <select class="browser-default" ng-model="newNote.meeting" required>
        <option ng-repeat="meeting in meetings">{{meeting.Title}}</option>
      </select>
    </div>
    <div class="row">
      <label style="padding-left: 15px;" for="startDate">Start Date</label>
      <div class="input-field col s12">

        <!-- Changed this div from an input -->
        <input pick-a-date id="startDate" type="date" class="datepicker" ng-model="meeting.startDate">
        <!--<input jsondate id="startDate" type="date" name="startdate" ng-model="meeting.startDate" required>-->
      </div>
    </div>
  </div>
    <div class="modal-footer">
      <a href="#!" no-link class="btn modal-action modal-close  waves-effect waves-light orange darken-4" ng-disabled="newNote.$invalid" ng-click="createNote(newNote)">Create</a>
      <a href="#!" no-link class="modal-action modal-close waves-effect waves-gray btn-flat">Close</a>

    </div>
  </div>
